# visual studio folder
.idea/
.vs/
out/

#clion build folder
.idea
cmake-build-debug/

#vscode folder
.vscode/

#cmake build folder
build/

#scratch folder path
# scratch/

# #tutorial folder path
# tutorial/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app